<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Connexion</title>
  </head>
  <body>
    <section class="container mx-auto">
      <div class="row col-8 card mx-auto">
          <h3 class="text-center">Connexion</h3><br>
    <form action="/connecter" method="post">
      <div class="col-8 mx-auto">
      <label for="email"> Email:</label><br>
      <input type="email" class="form-control"  id="email" name="email"  placeholder="email"><br>
      <br>
      <label for="password">Mot de passe :</label>
      <input type="password" class="form-control" name="pass" id="pass" placeholder="mot de passe">
      <br>
      <button type="submit" class="btn btn-custom mb-2" value="Se connecter">Se connecter</button>
    </div>
    </form>
    </div>
    </section>
  </body>
</html>
